#tb-uppity {
  list-style-image: url("chrome://uppity/skin/tb-icon-large.png");
}
#tb-uppity[disabled] {
  list-style-image: url("chrome://uppity/skin/tb-icon-large-disabled.png");
}

toolbar[iconsize="small"] #tb-uppity {
  list-style-image: url("chrome://uppity/skin/tb-icon-small.png");
}
toolbar[iconsize="small"] #tb-uppity[disabled] {
  list-style-image: url("chrome://uppity/skin/tb-icon-small-disabled.png");
}
